<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Vue</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <style>
      #app {
        margin: auto;
        max-width: 600px;
      }

      table {
        width: 600px;
      }

      table tr td:last-child {
        float: right;
      }

      table tr:last-of-type {
        font-size: large;
        font-weight: bold;
        font-style: italic;
      }

      #title {
        width: 200px;
      }

      #price {
        width: 60px;
      }

      #add {
        float: right;
      }

    </style>

  </head>

  <body>
    <div id="app">
      <h1>My Games</h1>
      <hr>
      <label for="title">Title:</label>
      <input v-model="title" type="text" id="title">
      <label for="price">Price:</label>
      <input v-model.number="price" type="number" id="price">
      <button id="add" @click="games.push({ id: games.length, title, price })">Add Game</button>
      <hr>
      <table>
        <tr v-for="game in games">
          <td>
            <button @click="delGame(game.id)">X</button> {{ game.title }}</td>
          <td>{{ game.price }}</td>
        </tr>
        <tr>
          <td>Total Price: </td>
          <td>{{ totalPrice }}</td>
        </tr>
      </table>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          games: [
            {
              id: 1,
              title: 'Bayonetta 2',
              price: 54.95
            },
            {
              id: 2,
              title: 'Mario Kart 8 Deluxe',
              price: 49.95
            },
            {
              id: 3,
              title: 'Splatoon 2',
              price: 54.95
            },
            {
              id: 4,
              title: 'Xenoblade Chronicles 2',
              price: 57.95
            },
            {
              id: 5,
              title: 'The Elder Scrolls V: Skyrim',
              price: 49.95
            }
          ],
          title: '',
          price: 59.95
        },
        computed: {
          totalPrice() {
            return this.games.reduce((sum, game) => {
              return sum + game.price
            }, 0).toFixed(2)
          }
        },
        methods: {
          delGame(id) {
            let index = this.games.findIndex((game) => {
              return game.id == id
            })
            this.games.splice(index, 1)
          }
        }
      })
    </script>
  </body>

</html>
